body {
    background-image: url('https://media.giphy.com/media/Y4K9JjSigTV1FkgiNE/giphy.gif');
    background-size: cover;
    background-repeat: no-repeat;
    width: 120px;
    height: auto;
    word-break: break-word;
    margin: 0;
    padding: 0;
    font-family: "montserrat", sans-serif;
    min-height: 100vh;
}

.container {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.container h1 {
    font-size: 120px;
    margin: 0;
    font-weight: 900;
    letter-spacing: 20px;
    color: white;
}

.container a {
    text-decoration: none;
    background: #3591E8;
    color: #fff;
    padding: 12px 24px;
    display: inline-block;
    border-radius: 25px;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.4s;
}

.container a:hover {
    background: #365BFF;
}
