/*Accidents statistics styling*/

.about-us {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


/*Accidents statistics card styling*/

.about-us-card {
    width: 350PX;
    line-height: 1.5em;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 14px;
}

.card {
    max-width: 600px;
    height: 375px;
    background: rgb(204, 204, 204);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: rgba(250, 250, 250, 0.37);
    backdrop-filter: blur(5px);
}

.card .img-box {
    position: relative;
    width: 65%;
    left: auto;
    border-radius: 50%;
    z-index: 1;
}

.card .img-box img {
    border-radius: 50%;
    width: 130%;
    height: 100%;
    padding-left: 30%;
    padding-top: 10%;
}


/*Accidents statistics card content styling*/

.card .content {
    position: relative;
    text-align: center;
    color: #111;
}

.card .content h2 {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    color: black;
    font-style: italic;
    padding-top: 50px;
}

.card .content p {
    font-size: small;
    line-height: 2.5;
}

.card .content p a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    padding-top: -10px;
    margin-bottom: 10px;
}