body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.imgur.com/Gppu3mG.jpg");
}

.form {
    width: 85%;
    max-width: 600px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 40px;
    box-sizing: border-box;
    box-shadow: 20px 20px 50px rgb(0 0 0 / 50%);
    background: #ffffff;
}

.form h1 {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

.form p {
    line-height: 3;
    color: #babbc0;
    font-size: 14px;
}

.form label {
    display: block;
    color: #9b9c9f;
    padding-top: 10px;
    font-size: 15px;
}

.form input {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
    font-size: 16px;
    margin-top: 6px;
    background-color: #ffffff;
    padding: 4px;
}

.form button {
    float: right;
    padding: 10px 15px;
    margin-top: 15px;
    border-radius: 15px;
    outline: none;
    border: none;
    background: #0D66D0;
    color: #ffffff;
    font-weight: 750;
}

.form button:hover {
    cursor: pointer;
    background-color: #0c4ea0;
}

.message {
    display: none;
    color: red;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 10px;
    width: 100%;
    border: 1px solid black;
}