#logo {
    padding: 0px 0px;
}

#logo img {
    display: inline-block;
    width: auto;
    height: 50px;
}

#color-title {
    color: white !important;
    text-decoration: none;
}

.navbar {
    background-color: white;
}

@media (min-width: 768px) {
.navbar-nav>li>a {
    border-radius: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}
}
