html, body {
    height: 100%;
    font-family: 'Jura', sans-serif;
}

.main-nav {
    position: fixed;
    z-index: 9;
    background: #011826;
    display: flex;
    justify-content: start;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #cccccc;

}

.main-nav-ul li {
    display: inline-block;
}

.main-nav-ul li a,
.brand {
    display: block;
    padding-left: 18px;
    padding-right: 18px;
    text-decoration: none;
    color: #ffffff;
}

.main-nav-ul li a:hover,
.brand:hover {
    background-color: #5D7A8C;
    color: #ffffff;
}

.menu-toggle-btn {
    margin-right: 15px;
    font-size: 22px;
    display: none;
}

.main-section {
    padding: 70px 30px;
}

@media(max-width: 768px) {
    .main-nav {
        justify-content: space-between;
    }

    .menu-toggle-btn {
        display: block;
        text-align: right;
        color:#ffffff;
    }

    .main-nav-ul {
        position: fixed;
        top: 61px;
        left: -51%;
        width: 50%;
        height: calc(100% - 62px);
        background-color: #011826;
        z-index: 9;
        border-right: 1px solid #cccccc;
        transition: left 0.3s linear;
    }

    .main-nav-ul li {
        display: block;
    }

    .main-nav-ul.active {
        left: 0
    }
}
