html,
body {
    height: 90%;
}

body {
    background: #eee;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-button-next,
.swiper-button-prev {
    color: white;
}
/*.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;


    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}*/

/*.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}*/

/*.swiper-container {
    margin-left: auto;
    margin-right: auto;
}*/

.slide-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.imgur.com/07DwDAu.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
}

.slide-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.imgur.com/kUAPmjl.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
}

.slide-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.imgur.com/P3amfbP.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
}

.slide-4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.imgur.com/P3amfbP.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
}