<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--Title of the page-->
        <title>404 page</title>
		<!--Import icon-->
		<link rel="icon" type="image/x-icon" href="https://i.imgur.com/FJvzFPT.png">
		<!--Import stylesheet-->
        <link rel="stylesheet" type="text/css" href="styles/404-page.css" >
    </head>

    <body>
		<!--Import the main content-->
		<div class="container">
			<h2>Oops! Page not found.</h2>
			<h1>404</h1>
			<p>We can't find the page you're looking for.</p>
			<a href="/">Go back home</a>
		</div>
    </body>

</html>
