<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>

    <link rel="icon" type="image/x-icon" href="https://i.imgur.com/FJvzFPT.png">


    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css " href="/styles/reset.css ">
    <link rel="stylesheet" type="text/css " href="/styles/cards.css ">
    <link rel="stylesheet" type="text/css " href="/styles/navbar.css ">
    <link rel="stylesheet" type="text/css " href="/styles/footer.css">


</head>


<body>
    <%- include ("partials/header.ejs", {logged: logged}) %>

        <div class="about-us">

            <div class="about-us-card ">

                <div class="card ">

                    <div class="img-box ">
                        <img src="img/about-us-images/Stoqn.jpg ">
                    </div>

                    <div class="content ">
                        <h2>Stoqn Kolev</h2>
                        <p><a href="javascript:void(0); ">Scrum Trainer</a></p>
                    </div>
                </div>

            </div>

            <div class="about-us-card ">

                <div class="card ">

                    <div class="img-box ">
                        <img src="img/about-us-images/Emo.jpg ">
                    </div>

                    <div class="content ">
                        <h2>Emil Ribarev</h2>
                        <p><a href="javascript:void(0); ">Back-end developer</a></p>
                    </div>
                </div>

            </div>

            <div class="about-us-card ">

                <div class="card ">

                    <div class="img-box ">
                        <img src="img/about-us-images/Stas.jpg ">
                    </div>

                    <div class="content ">
                        <h2>Stas Uzunov</h2>
                        <p><a href="javascript:void(0); ">Back-End developer</a></p>
                    </div>
                </div>

            </div>

            <div class="about-us-card ">

                <div class="card ">

                    <div class="img-box ">
                        <img src="img/about-us-images/Stanislav.jpg ">
                    </div>

                    <div class="content ">
                        <h2>Stanislav Tashev</h2>
                        <p><a href="javascript:void(0); ">Front-End developer</a></p>
                    </div>
                </div>

            </div>

            <div class="about-us-card ">

                <div class="card ">

                    <div class="img-box ">
                        <img src="img/about-us-images/Teodora.jpg ">
                    </div>

                    <div class="content ">
                        <h2>Teodora Kompanska</h2>
                        <p><a href="javascript:void(0); ">Front-End developer</a></p>
                    </div>
                </div>

            </div>

            <div class="about-us-card ">

                <div class="card ">

                    <div class="img-box ">
                        <img src="img/about-us-images/beatriz.jpg ">
                    </div>

                    <div class="content ">
                        <h2>Beatriz Topuzyan</h2>
                        <p><a href="javascript:void(0); ">Designer</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-basic">
            <footer>
                <div class="social"><a href="javascript:void(0)"><i class="icon ion-social-instagram"></i></a><a href="javascript:void(0)"><i class="icon ion-social-snapchat"></i></a><a href="javascript:void(0)"><i class="icon ion-social-twitter"></i></a>
                    <a href="javascript:void(0)"><i class="icon ion-social-facebook"></i></a>
                </div>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="/">Home</a></li>
                    <li class="list-inline-item"><a href="/contact" target="_blank">Contact Us</a></li>
                    <li class="list-inline-item"><a href="/aboutus">About</a></li>
                </ul>
                <p class="copyright">Litho-prae © 2021</p>
            </footer>
        </div>

</body>

</html>
