<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article</title>


    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/article.css">
	<link rel="stylesheet" href="/styles/navbar.css">

</head>

<body>
    <%- include ("partials/header.ejs", {logged: logged}) %>

    <div class="content">
        <img src="https://i.imgur.com/P3amfbP.jpg" alt="img">
        <h1><%= article.Title %></h1>

        <%- article.Content %>
        <div class="comments">
            <textarea rows="3" cols="50" placeholder="Add a comment..."></textarea>
            <button>Post</button>
        </div>

    </div>


</body>

</html>
