<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<title>Document</title>
</head>
<body>
	<form action="/articles/edit" method="POST">
    	<hr>
		<input type="hidden" name="id" value="<%= articleId %>">
		<input type="hidden" name="authorId" value="<%= authorId %>">

    	<label for="title"><b>Edit title</b></label>
    	<input type="text" placeholder="" name="title" id="title"  value="<%= article.Title%>" required>

    	<label for="content"><b>Edit content</b></label>
    	<input type="text" placeholder="" name="content" id="content"  value="<%= article.Content%>" required>
    <button type="submit" class="registerbtn">Post</button>
</body>
</html>
